{% extends 'base.html' %}

{% block content %}

  <!--<div class="wrapper">-->

    {% include 'nav.html' %}

    <div class="overlay"></div>

    <div class="jumbotron" style="display: flex; align-items: end; background-image: url('{{ url_for('static', filename='WHAT THEY DO.jpg') }}'); background-size: cover; filter: grayscale({{0 if session_to_plot=='2020-2022' else (0.3 if session_to_plot=='2016-2017' else (0.6 if session_to_plot=='2011-2016' else 0.8))}})">

      <div class="row d-flex ml-4 justify-content-start">
        <div class="col-md-6 ml-4 py-3" style='color: white'>
          {% if session_to_plot == '2020-2022' %}
            <h1 class='display-3'>What They <b>Do</b></h1>
            <p>This page is focused on the current Assembly session, which started on 11 January 2020, and tracks the activity of members and ministers via questions asked and answered, contributions to debates, and votes.</p>
          {% else %}
            <h1 class='display-3'>What They <span style='text-decoration: line-through;'>Do</span> <b>Did</b></h1>
            <p>This page shows historical Assembly data from the <b>{{session_to_plot}} session</b>, and tracks the activity of members and ministers via questions asked and answered, contributes to debates, and votes.</p>
          {% endif %}
        </div>      
      </div>
    </div>

    <div class='container-xl'>    

      <div class="row mb-2 justify-content-md-center">
        <form action="{{ url_for('assembly') }}" method="get">
          <div class="form-group">
            <select class="form-control" name="assembly_session" style="width:350px" onchange="this.form.submit()">
              <option value="" selected disabled hidden>Take me to a different Assembly session...</option>
              {% for sn in session_names_list %}
                <option value="{{sn}}">{{sn}}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>

      {% if session_to_plot == '2020-2022' %}
        <div class="row mb-2 justify-content-md-center">

          <div class="my-header px-5 py-3 pt-md-5 pb-md-2 mx-auto text-center">
            {% if diary.size > 0 %}
              <p>Upcoming Assembly business (see <a class='use-underline' href='http://aims.niassembly.gov.uk/assemblybusiness/businessdiary.aspx'>the official Assembly site</a> for full information):</p>
              <ul>
              {% for item in diary.itertuples() %}
                  <li><span style="color: {{ item.EventHTMLColour }}"><b>{{ item.EventName}}</b></span> on {{ item.EventPrettyDate }} at {{ item.StartTime[11:16] }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          </div>

        </div>
      {% else %}
        <div class='col my-4 text-center'>
          <h2>Showing data from the {{session_to_plot}} Assembly session</h2>
        </div>
      {% endif %}

      <div class="row mb-2 justify-content-md-center">
        <div class="col-lg-8">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column justify-content-center data-panel-a">
              <h4>Voting records</h4>
              <p class="card-text mb-2 data-panel-card-border">The <b>voting patterns</b> of {{n_mlas}} MLAs over {{n_votes}} votes <span class='help-tooltip' title='those voting in at least {{pca_votes_threshold_pct}}% of the votes' data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></span> are visualised using dimensionality reduction <span class='help-tooltip' title="converting each member's sequence of votes into two coordinates, for the purpose of visualisation" data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></span>. There is no explicit meaning to the two graph axes, but circles that are close together represent MLAs that vote in similar ways. Parties cluster strongly together because they often each vote as a bloc.</p>
              <div id='vis3'></div>
            </div>
          </div>
        </div>

      </div>

      <div class="row mb-2 justify-content-md-center">
        <div class="col-xl-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static data-panel-b">
              <h4>Member questions asked</h4>
              <div>
                <p class="card-text mb-2 data-panel-card-border">Shows the most prolific <b>question askers</b> among MLAs in the selected Assembly session.</p>
              </div>
              <div id='vis4'></div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static data-panel-c">
              <!--<strong class="d-inline-block mb-2 text-primary">Optional category</strong>-->
              <h4>Ministerial answers</h4>
              <div>
                <p class="card-text mb-2 data-panel-card-border">Shows the <b>number of questions <span class='help-tooltip' title='written and oral combined; the majority are written' data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></span> answered</b> by each minister in the selected session (line lengths), and the <b>average time taken</b> to do so (circle sizes). Ministers are supposed to respond to questions within ten working days (numbers here are <i>calendar</i> days). The First and Deputy First Ministers respond to questions as a pair.</p>  
              </div>
              <div id='vis2'></div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row mb-2 justify-content-md-center">
        {% if session_to_plot >= '2011-2016' %}
          <div class="col-lg-7">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static data-panel-a">
                <h4>Plenary discussion topics</h4>
                <p class="card-text mb-2 data-panel-card-border">A model is used to assign a 'topic' label to all Plenary session member contributions <span class='help-tooltip' title='a speech by a member, or part of a speech, if interrupted' data-toggle="tooltip"><i class="fas fa-question-circle fa-sm"></i></span>, based on the words used. These are the frequencies of each topic in the selected Assembly session. Hover over the bars to see the key words that define each topic. <br />These labels are used in the individual member pages to describe what subjects each member tends to speak about in plenary sessions.</p>
                <div id='vis5'></div>
              </div>
            </div>
          </div>
        {% endif %}

        <aside class="col-lg-5 blog-sidebar" id='Technical-stuff'>
          <div class="p-4 mb-3 bg-light rounded">
            <h4 class="font-italic">Technical Stuff</h4>
            <ul class="nav nav-tabs tab-headings" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">Assembly questions</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="false">Voting records</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Plenary topics</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">Plenary emotions</a>
              </li>
            </ul>
            <div class="tab-content small" id="myTabContent">
              <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
                <p>Members can put <a class='use-underline' href='http://www.niassembly.gov.uk/assembly-business/questions/'>questions to ministers</a> either orally, at the weekly Question Time session (if the question is submitted in advance and selected in a random ballot), or in writing (up to five questions per member per day). There is a lot of detail and some interesting observations on the questions process in <a class='use-underline' href='http://archive.niassembly.gov.uk/procedures/2007mandate/reports/report_24_08_09R.htm'>this Assembly report</a>.</p>
                <p>Note that a high number here should not <i>necessarily</i> be read as an endorsement for a member as being particularly hard-working, compared to those asking fewer questions. They Work For You recently made some changes to, and <a class='use-underline' href='https://www.mysociety.org/2020/11/16/publishing-less-our-current-thinking-about-comparative-statistics/'>observations on</a>, similar metrics from their UK Parliament data.</p>
              </div>
              <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                <p>Using all <a class='use-underline' href='http://aims.niassembly.gov.uk/officialreport/officialreport.aspx'>Hansard records</a> from Assembly Plenary sessions from 2015 to present, an <a class='use-underline' href="https://radimrehurek.com/gensim/auto_examples/tutorials/run_lda.html#sphx-glr-auto-examples-tutorials-run-lda-py">LDA model</a> was trained, to cluster the contributions based on their content (the words spoken by the member, excluding some procedural terms). This creates a set of 14 recognisable 'topics'. Each contribution in the current session was then assigned one of these labels. Some contributions are only one sentence long, so it is not always reliable to make these assignments, and these topics are not tied to the overall subject of the debate in which the contribution was made.</p>
              </div>
              <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                <p>The votes scatter plot uses <a class='use-underline' href="https://en.wikipedia.org/wiki/Principal_component_analysis">Principal Component Analysis</a> to reduce each member's voting record into two numerical dimensions. The closer together two members are in the plot, the more similar are their voting records.</p> 
                <p>The horizontal and vertical axes carry information about the patterns of voting, but the axes may not be perfectly aligned with our notions of what 'controls' voting. Here, in the 2020-2022 session, the horizontal axis (the more impactful of the two) represents a combination of 'nationalist-unionist' and economic and/or social left-right dimensions (members situated on the right side of the plot tend to be more conservative and/or more unionist), while the y-axis seems to be related to voting with or against the First and Deputy First Ministers (members of the two biggest parties are located in the lower half of the plot). In past sessions, the axes may have different meanings: positions on the plot cannot be directly compared between sessions.</p>
                <p>This method relies on comparing members across the same set of votes. To facilitate this, the plot is limited to the members that voted in at least {{pca_votes_threshold_pct}}% of the divisions in the session, and where a member did not vote, a value equivalent to 'ABSTAIN' is used, although not being present for a vote is not quite the same as abstaining. Where a member was only active for part of a session, this approach would assume that they actively chose to abstain/not vote more often than they did, which has the effect of pushing them towards the centre of the plot. Assembly membership <a class='use-underline' href='https://en.wikipedia.org/wiki/List_of_members_of_the_4th_Northern_Ireland_Assembly#Changes'>does change during a five-year session</a>, so this would be an issue, but it is mostly avoided by using the {{pca_votes_threshold_pct}}% cut-off.</p>
              </div>
              <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                <p>Emotion scores for plenary contributions are calculated using the <b>R</b> package <a class='use-underline' href="https://github.com/trinker/sentimentr">sentimentr</a>, which does so by counting words marked as being indicative of each of the emotions, while accounting for negations and other speech modifiers. You can explore the NRC lexicon, to see which words are linked to which emotion, <a class='use-underline' href='https://www.saifmohammad.com/WebPages/NRC-Emotion-Lexicon.htm'>here</a>.</p>
              </div>
            </div>
            <p class="mb-0"></p>
          </div>
        </aside>
        
      </div>

      {% if session_to_plot >= '2011-2016' %}
        <div class="row mb-2 justify-content-md-center">
          <div class="col-md-8">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static data-panel-b">
                <h4>Plenary discussion emotions</h4>
                <p class="card-text mb-2 data-panel-card-border">Plenary contributions from the selected session are scored for the extent to which they express one of five different emotions, and scores are averaged by party.</p>
                <div id='vis7'></div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="row mb-2 justify-content-md-center">
        <div class="col-md-12">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col py-4 pl-2 pr-4 d-flex flex-column position-static">
              <h4>Votes in this session</h4>

              <table style="max-width:700px; border-collapse: separate; border-spacing: 15px 15px; table-layout: fixed; margin-bottom: 20px; margin-top: -20px">

                <tr><td width='80%'></td><td width='20%'></td></tr>
                <tr>
                  <td><b>{{votes_passed_details[2]}}</b> ({{votes_passed_details[0]}}/{{votes_passed_details[1]}}) motions have passed</td>
                  <td><span id='votes_passed_sparkline'></span></td>
                </tr>
                <tr>
                  <td><b>{{uni_tabled_passed_details[2]}}</b> ({{uni_tabled_passed_details[0]}}/{{uni_tabled_passed_details[1]}}) motions tabled by <b>unionists</b> have passed</td>
                  <td><span id='uni_votes_passed_sparkline'></span></td>
                </tr>
                <tr>
                  <td><b>{{nat_tabled_passed_details[2]}}</b> ({{nat_tabled_passed_details[0]}}/{{nat_tabled_passed_details[1]}}) motions tabled by <b>nationalists</b> have passed</td>
                  <td><span id='nat_votes_passed_sparkline'></span></td>
                </tr>

                <tr>
                  <td colspan='2'><b>{{mix_tabled_passed_details[2]}}</b> ({{mix_tabled_passed_details[0]}}/{{mix_tabled_passed_details[1]}}) motions tabled by more than one group have passed</td>
                </tr>
                <tr>
                  <td colspan='2'><b>{{uni_nat_split_details[0]}}</b> ({{(100*uni_nat_split_details[0]/votes_passed_details[1]) |round|int}}%) votes were split unionist/nationalist (<b>{{num_uni_nat_split_passes}}</b> passed)</td>
                </tr>

                <tr>
                  <td>In <b>{{alli_like_uni_details[1]}}</b> split votes, Alliance have voted with unionists in <b>{{alli_like_uni_details[0]}}</b> vote{{'s' if alli_like_uni_details[0] > 1 else ''}} and with nationalists in <b>{{alli_like_nat_details[0]}}</b> vote{{'s' if alli_like_nat_details[0] > 1 else ''}}</td>
                  <td><span id='alli_split_sparkline'></span></td>
                </tr>
                <tr>
                  <td>In <b>{{green_like_uni_details[1]}}</b> split votes, Green have voted with unionists in <b>{{green_like_uni_details[0]}}</b> vote{{'s' if green_like_uni_details[0] > 1 else ''}} and with nationalists in <b>{{green_like_nat_details[0]}}</b> vote{{'s' if green_like_nat_details[0] > 1 else ''}}</td>
                  <td><span id='green_split_sparkline'></span></td>
                </tr>

              </table>

              <table id="example" class="table table-striped table-bordered" style='font-size: 0.9em'>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Motion</th>
                    <th>Tabled by</th>
                    <th>Result</th>
                    <th>Unionist bloc vote</th>
                    <th>Nationalist bloc vote</th>
                    <th>Alliance vote</th>
                    <th>Green vote</th>
                    <th>Sectarian split?</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>

  <!--</div>-->

{% endblock %}

{% block addtl_footer %}
      <p>Artwork by <a class='use-underline' href="http://ellistration.co.uk/">Ellistration</a></p> 
      <p>Contains Parliamentary information licensed under the <a class='use-underline' href="http://data.niassembly.gov.uk/licence.aspx">Open Government Licence v3.0</a></p>
{% endblock %}

{% block other_js %}

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.sparkline.2.1.2.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>

    <script src="http://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='moment.min.js') }}"></script>

    <script type="text/javascript">

        var session_to_plot = {{session_to_plot | tojson}};

        if (screen.width > 500) {
          parse("/data/plot_vote_pca_all_mlas_"+session_to_plot+"_web", "vis3");
          parse("/data/plot_questions_asked_"+session_to_plot+"_web", "vis4");
          parse("/data/plot_plenary_emotions_by_party_"+session_to_plot+"_web", "vis7");
        } else {
          parse("/data/plot_vote_pca_all_mlas_"+session_to_plot+"_mobile", "vis3");
          parse("/data/plot_questions_asked_"+session_to_plot+"_mobile", "vis4");
          parse("/data/plot_plenary_emotions_by_party_"+session_to_plot+"_mobile", "vis7");
        }
        parse("/data/plot_minister_answer_times_"+session_to_plot, "vis2");
        parse("/data/plot_plenary_topics_overall_"+session_to_plot, "vis5");
        parse("/data/plot_party_unity_bars_"+session_to_plot, "vis6");
        

        var dataSet = {{votes_list | tojson }};

        $(document).ready(function() {
            $('#example').DataTable( {
                responsive: true,
                data: dataSet,
                columns: [
                    { title: "Date", 
                      render: function(data, type, row){
                        if(type === "sort" || type === "type"){
                            return data;
                        }
                        return moment(data).format("DD MMM YYYY");
                      },
                      responsivePriority: 3
                    },
                    { title: "Motion",
                      render: function(data, type, row) {
                        return '<a href="' + data.split('|')[1] + '" target="_blank">' + data.split('|')[0] + '</a>';
                      }, 
                      responsivePriority: 1
                    },
                    { title: "Tabled by", responsivePriority: 6 },
                    { title: "Result", 
                      render: function(data) {return '<b>'+data+'</b>'},
                      responsivePriority: 2 },
                    { title: "Unionist vote", responsivePriority: 4 },
                    { title: "Nationalist vote", responsivePriority: 5 },
                    { title: "Alliance vote", responsivePriority: 7 },
                    { title: "Green vote", responsivePriority: 8 },
                    { title: "Sectarian split?", responsivePriority: 9 }
                ],
                ordering: false
            } );
        } );

        // var votes_passed = [27,15,27]; 
        var votes_passed = [{{votes_passed_details[0]}}, 
          {{votes_passed_details[1]}}];
        var uni_votes_passed = [{{uni_tabled_passed_details[0]}}, 
          {{uni_tabled_passed_details[1]}}];
        var nat_votes_passed = [{{nat_tabled_passed_details[0]}}, 
          {{nat_tabled_passed_details[1]}}];
        var alli_split_votes = [{{alli_like_uni_details[0]}},
          {{alli_like_nat_details[0]}}, {{alli_like_uni_details[1]}}];
        var green_split_votes = [{{green_like_uni_details[0]}},
          {{green_like_nat_details[0]}}, {{green_like_uni_details[1]}}];

        $(function() {
          // $("#votes_passed_sparkline").sparkline([15, 12], {
          //     type: 'pie', width: '25px', height: '25px',
          //     sliceColors: ['crimson', 'antiquewhite']});
          $("#votes_passed_sparkline").sparkline([votes_passed[1],votes_passed[0],votes_passed[1],0,0], {
              type: 'bullet', height: '30px', targetWidth: 7, 
              targetColor: 'black', performanceColor: 'crimson',
              rangeColors: ['antiquewhite','white','black'],
              disableTooltips: true});
          $("#uni_votes_passed_sparkline").sparkline([uni_votes_passed[1], uni_votes_passed[0],uni_votes_passed[1],0,0], {
              type: 'bullet', height: '30px', targetWidth: 7, 
                targetColor: 'black', performanceColor: 'darkorange',
                rangeColors: ['antiquewhite','white','black'],
                disableTooltips: true});
              // type: 'pie', width: '35px', height: '35px', borderWidth: 1,
              // sliceColors: ['darkorange', 'antiquewhite'],
              // disableTooltips: true});
          $("#nat_votes_passed_sparkline").sparkline([nat_votes_passed[1],nat_votes_passed[0],nat_votes_passed[1],0,0], {
              type: 'bullet', height: '30px', targetWidth: 7,
              targetColor: 'black', performanceColor: 'forestgreen',
              rangeColors: ['antiquewhite','white','black'],
              disableTooltips: true});
          $("#alli_split_sparkline").sparkline([alli_split_votes[0],alli_split_votes[1],alli_split_votes[2]-alli_split_votes[1]-alli_split_votes[0]], {
              type: 'pie', width: '35px', height: '35px', borderWidth: 1,
              sliceColors: ['darkorange', 'forestgreen','white'],
              disableTooltips: true});
          $("#green_split_sparkline").sparkline([green_split_votes[0],green_split_votes[1],green_split_votes[2]-green_split_votes[1]-green_split_votes[0]], {
              type: 'pie', width: '35px', height: '35px', borderWidth: 1,
              sliceColors: ['darkorange', 'forestgreen','white'],
              disableTooltips: true});
          // $("#nat_votes_passed_sparkline").sparkline([9, 3], {
          //     type: 'pie', width: '25px', height: '25px',
          //     sliceColors: ['forestgreen', 'antiquewhite']});
        });

    </script>

{% endblock %}