{% extends 'base.html' %}

{% block content %}

    {% include 'nav.html' %}
    
    <div class='container-xl' style='min-height: 800px'>

        <div class="row my-4 mx-1 justify-content-md-center">
            <h1 class='display-3'>Blog</h1>
        </div>
                
        <div class="more-content-grid col-lg-8 col-md-10 mx-auto pb-4">
            <div class="row">
                {% for row in blog_pieces.itertuples() %}
                    <div class="col-md-6">
                        <div class="card simple-overlay-card mt-2">
                            <a href="blog/{{row.link}}"><img src="{{row.background_image_path}}" class="card-img" alt="Blog piece thumbnail" /></a>
                            <div class="card-img-overlay">
                              <h5 class="card-title title-font">
                                <a href="blog/{{row.link}}">{{row.title}}</a>
                              </h5>
                              <p><i>{{row.date_added}}</i></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}

{% block addtl_footer %}
    <div class="col-3 text-md-right"></div>
{% endblock %}
