{% extends 'base.html' %}

{% block content %}    

  <div class="wrapper">
    {% include 'sidebar.html' %}

    <div class="navbar navbar-expand-lg fixed-top" id='mainNav' style='background-color: var(--navbar-colour);'>
        <div class="col-2">
            <button type="button" id="sidebarCollapse" class="btn">
              <span>
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
              </span>
            </button>
        </div>
    </div>

    <div class="overlay"></div>
    
    <div class='container-fluid' id='page-top'>
        
        <div class='row justify-content-center pt-4 pb-0'>
          <div class='col-lg-6 text-center'>
            <img src="{{ url_for('static', filename='ni_poligraph_logo_transparent.png') }}" alt='NI PoliGraph logo' width='100%'>
          </div>
        </div>

        <div class='row justify-content-center pt-4 pb-2' style='background-color: white'>
            <div class='col text-center'>
                <div>
                    <h3 class='pb-4'>Using analytics to track <span title='The state of it, like'>the state of politics</span> in Northern Ireland.</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center py-4 pr-3" style='background-color: var(--navbar-sidebar-colour);'>

            <div class='col-12 text-center pb-2'><p class="lead">Last updated on {{totals_dict['last_updated_date']}}, and today crunching:</p></div>

            <div class='row container-xl'>
            
              <div class='col-md-6'>

                <ul>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_question.png')}}" alt="question icon" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_questions']}}</b> Assembly questions and <b>{{totals_dict['n_answers']}}</b> answers,</p>
                    </div>
                  </li>
                 
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_hands.png')}}" alt="hands icon" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_votes']}}</b> division votes,</p>
                    </div>
                  </li>

                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_speech.png')}}" alt="speech icon" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_contributions']}}</b> Hansard plenary contributions,</p>
                    </div>
                  </li>

                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_bluesky.png')}}" alt="twitter icon" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_posts']}}</b> social media posts,</p>
                    </div>
                  </li>
                </ul>

              </div>

              <div class='col-md-6'>

                <ul>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_article.png')}}" alt="article icon" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_news']}}</b> news articles, and</p>
                    </div>
                  </li>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_poll.png')}}" alt="poll icon" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_polls']}}</b> opinion polls, for</p>
                    </div>
                  </li>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_politician.png')}}" alt="politician icon" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_politicians']}}</b> MLAs and other politicians.</p>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
            
        </div>

        <div class="row justify-content-center mt-4">

            <div class='col-xl-5 px-2 py-1'>
              <div class='container image-link image-link-zoom'>
                <a href="{{ url_for('social_media') }}">
                  <img src="{{ url_for('static', filename='WHAT THEY SAY.jpg') }}" width='100%' alt="Social media feature">
                  <div class="container">
                    <div class='col-8'>
                      <div class="carousel-caption text-center d-md-block pt-2 pb-1 mx-1 mb-2">
                        <h4>NI politicians on social media</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class='col-xl-5 px-2 py-1'>
              <div class='container image-link image-link-zoom'>
                <a href="{{ url_for('news') }}">
                  <img src="{{ url_for('static', filename='WHAT WE REPORT.jpg') }}" width='100%' alt="News feature">
                  <div class="container">
                    <div class='col-8'>
                      <div class="carousel-caption text-center d-md-block pt-2 pb-1 mx-1 mb-2">
                        <h4>Online news monitoring</h4>
                      </div>
                    </div>
                  </div>
                </a> 
              </div>
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class='col-xl-5 px-2 py-1'>
              <div class='container image-link image-link-zoom'>
                <a href="{{ url_for('assembly') }}">
                  <img src="{{ url_for('static', filename='WHAT THEY DO.jpg') }}" width='100%' alt="Assembly feature">
                  <div class="container">
                    <div class='col-8'>
                      <div class="carousel-caption text-center d-md-block pt-2 pb-1 mx-1 mb-2">
                        <h4>Assembly debate and vote analysis</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class='col-xl-5 px-2 py-1'>
              <div class='container image-link image-link-zoom'>
                <a href="{{ url_for('polls') }}">
                  <img src="{{ url_for('static', filename='HOW WE VOTE.jpg') }}" width='100%' alt="Polls feature">
                  <div class="container">
                    <div class='col-8'>
                      <div class="carousel-caption d-md-block pt-2 pb-1 mx-1 mb-2">
                        <h4>Polls tracker</h4>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        </div>

        <div class="row justify-content-center py-3" style='background-color: lightsteelblue;'>
          <div class="col-lg-4 col-md-6 mx-auto text-center" style='background-color: lightsteelblue;'>
            <h3>In-depth analysis and features</h3>
          </div>
        </div>

        <div class="row justify-content-md-center py-2" style='background-color: lightsteelblue;'>

          <div class="col-lg-4 col-md-6 pb-2 text-center" style='background-color: lightsteelblue;'>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval=5000>
              <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></li>
                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></li>
                <li type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></li>
              </ol>
              <div class="carousel-inner">
                {% for row in blog_pieces.itertuples() %}
                  {% if loop.index == 1 %}
                    <div class="carousel-item active">
                  {% else %}
                    <div class="carousel-item">
                  {% endif %}
                    <a href="blog/{{row.link}}"><img src="{{row.background_image_path}}" class="card-img d-block w-100" style='height: 200px' alt='Blog article thumbnail image' /></a>
                    <div class="carousel-caption p-2 d-none d-md-block">
                      <h5 style='font-size:0.8em'>{{row.title}} <i>({{row.date_added}})</i></h5>
                    </div>
                  </div>
                {% endfor %}
              </div>
              
            </div>
          </div>

          <div class='col-lg-2 col-md-3 pb-2 text-center align-self-center'>
            <a href="{{ url_for('blog') }}" class="btn btn-info btn-lg my-0">Read the blog</a>
          </div>

        </div>  

        <!--
        <div class='row justify-content-center pt-3'>
          <div class='col-md-6 mx-auto' style='text-align: center;'>
            <a class="twitter-timeline" href="https://twitter.com/nipoligraph?ref_src=twsrc%5Etfw" data-tnt="true" data-width="450px" data-height="400px">Latest tweets by nipoligraph</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
        -->

        <br/>
          
    </div>
  
  </div>
 
{% endblock %}

{% block addtl_footer %}
    <p>Artwork by <a class='use-underline' href="http://ellistration.co.uk/">Ellistration</a></p> 
    <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>, and <a href="https://www.flaticon.com/free-icon/politician_2388829?term=politician&page=1&position=32" title="surang">surang</a>, from <a class='use-underline' href="https://www.flaticon.com/">flaticon.com</a></p> 
{% endblock %}