{% extends 'base.html' %}

{% block content %}    

  <div class="wrapper">
    {% include 'sidebar.html' %}

    <div class="navbar navbar-expand-lg fixed-top" id='mainNav' style='background-color: var(--navbar-colour);'>
        <div class="col-2">
            <button type="button" id="sidebarCollapse" class="btn">
              <span>
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
              </span>
            </button>
        </div>
    </div>

    <div class="overlay"></div>
    
    <div class='container-fluid' id='page-top'>
        
        <div class='row justify-content-center'>
          <div class='col-lg-6 text-center'>
            <img src="{{ url_for('static', filename='ni_poligraph_logo_mountains_grey.png') }}" alt='NI PoliGraph logo' width='100%'>
          </div>
        </div>

        <div class='row justify-content-center pt-4 pb-2' style='background-color: white'>
            <div class='col text-center'>
                <div>
                    <h3 class='pb-4'>Using analytics to track <span title='The state of it, like'>the state of politics</span> in Northern Ireland.</h3>
                </div>
            </div>
        </div>

        <div class="row justify-content-center py-4 pr-3" style='background-color: var(--navbar-sidebar-colour);'>

            <div class='col-12 text-center pb-2'><p class="lead">Last updated on {{totals_dict['last_updated_date']}}, and today crunching:</p></div>

            <div class='row container-xl'>
            
              <div class='col-md-6'>

                <ul>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_question.png')}}" alt="Generic placeholder image" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_questions']}}</b> Assembly questions and <b>{{totals_dict['n_answers']}}</b> answers,</p>
                    </div>
                  </li>
                 
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_hands.png')}}" alt="Generic placeholder image" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_votes']}}</b> division votes,</p>
                    </div>
                  </li>

                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_speech.png')}}" alt="Generic placeholder image" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_contributions']}}</b> Hansard plenary contributions,</p>
                    </div>
                  </li>

                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_twitter.png')}}" alt="Generic placeholder image" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_tweets']}}</b> tweets,</p>
                    </div>
                  </li>
                </ul>

              </div>

              <div class='col-md-6'>

                <ul>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_article.png')}}" alt="Generic placeholder image" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_news']}}</b> news articles, and</p>
                    </div>
                  </li>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_poll.png')}}" alt="Generic placeholder image" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_polls']}}</b> opinion polls, for</p>
                    </div>
                  </li>
                  <li class='media'>
                    <img class="d-flex mb-3 mx-auto avatar" src="{{url_for('static', filename='icon_politician.png')}}" alt="Generic placeholder image" style='height:50px;width:50px'>
                    <div class="media-body text-center text-sm-left ml-md-3 ml-0">
                        <p><b>{{totals_dict['n_politicians']}}</b> MLAs and other politicians.</p>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
            
        </div>

        <div class="row justify-content-center mt-4">

            <div class='col-xl-5 px-2 py-1 image-link'>
                <a href="{{ url_for('twitter') }}">
                  <img src="{{ url_for('static', filename='WHAT THEY SAY.jpg') }}" width='100%' alt="Twitter feature">
                  <div class="container">
                    <div class='col-8 '>
                      <div class="carousel-caption text-center d-none d-md-block pt-2 pb-1 mx-1 mb-4">
                        <h3>NI politicians on Twitter</h3>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
            <div class='col-xl-5 px-2 py-1 image-link'>
                <a href="{{ url_for('news') }}">
                  <img src="{{ url_for('static', filename='WHAT WE REPORT.jpg') }}" width='100%' alt="News feature">
                  <div class="container">
                    <div class='col-8'>
                      <div class="carousel-caption text-center d-none d-md-block pt-2 pb-1 mx-1 mb-4">
                        <h3>Online news monitoring</h3>
                      </div>
                    </div>
                  </div>
                </a> 
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class='col-xl-5 px-2 py-1 image-link'>
                <a href="{{ url_for('assembly') }}">
                  <img src="{{ url_for('static', filename='WHAT THEY DO.jpg') }}" width='100%' alt="Assembly feature">
                  <div class="container">
                    <div class='col-8'>
                      <div class="carousel-caption text-center d-none d-md-block pt-2 pb-1 mx-1 mb-2">
                        <h3>Assembly debate and vote analysis</h3>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
            <div class='col-xl-5 px-2 py-1 image-link'>
                <a href="{{ url_for('polls') }}">
                  <img src="{{ url_for('static', filename='HOW WE VOTE.jpg') }}" width='100%' alt="Polls feature">
                  <div class="container">
                    <div class='col-8'>
                      <div class="carousel-caption d-none d-md-block pt-2 pb-1 mx-1 mb-4">
                        <h3>Polls tracker</h3>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
        </div>
        <br/>
          
    </div>
  
  </div>
 
{% endblock %}

{% block addtl_footer %}
    <p class='text-muted'>Artwork by <a class='use-underline' href="http://ellistration.co.uk/">Ellistration</a></p> 
    <p class='text-muted'>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a>, and <a href="https://www.flaticon.com/free-icon/politician_2388829?term=politician&page=1&position=32" title="surang">surang</a>, from <a class='use-underline' href="https://www.flaticon.com/">flaticon.com</a></p> 
{% endblock %}