{% extends 'base.html' %} 

{% block content %}

  <!--<div class="wrapper">-->

    {% include 'nav.html' %}

    <div class="overlay"></div>

    <div class="jumbotron" style="background-image: url('{{ url_for('static', filename='HOW WE VOTE.jpg') }}'); background-size: cover">
      <div class="row d-flex ml-4 justify-content-start">
        <div class="col-md-5 ml-4 my-3" style='color: black'>
          <h1 class='display-3'>How We <b>Vote</b></h1>
          <p>All nationwide polls and election results are recorded here, starting in 2016. Using polling and other information, a forecast of the national results in the May 2022 Assembly election is made, and updates regularly.</p>
        </div>
      </div>
    </div>

    <div class='container-xl'>

        <div class="row mb-2 justify-content-center pt-4">
          <ul class="nav nav-pills" id="pollsTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="tracker-tab" data-bs-toggle="pill" data-bs-target="#tracker" type="button" role="tab" aria-controls="tracker" aria-selected="true">Poll tracker</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="pollsTabContent">
          
          <div class="tab-pane fade show active" id="tracker" role="tabpanel" aria-labelledby="tracker-tab">

            <div class="row mb-2 justify-content-md-center">
              <div class="col-md-10">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4>Levels of support</h4>
                    <p class="card-text mb-2 data-panel-card-border">The running average percentages of the vote by party are updated when a new poll or election occurs. Their values at present day are a projection of vote share at the next Assembly election. Click on the <b>'show...'</b> part of the legend to highlight either polls <i>(circles)</i> or elections <i>(diamonds)</i>.</p>
                    <div id='poll-tracker-vis'></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-2">
              <aside class="col-md-5 blog-sidebar">
                <div class="p-4 mb-3 bg-light rounded">
                  <h4 class="font-italic">Technical Stuff</h4>
                  <p class="small">The 'polling average' lines shown here are based on both poll and election data up to and including that point in time. Each new data point affects the moving average by different amounts depending on its poll or election type, and (for polls) the poll sample size. Each point has a weaker effect on the averages as time goes on, reaching zero at 1000 days (i.e., the averages depend most strongly on the most recent data).</p>
                  <p class='small'>I chose the weights to try to optimise the fit of the moving averages to <i>Assembly election</i> results. Since the number of elections in the period covered by documented polling is small, this very likely means that the lines are over-fitted to the 2016 and 2017 Assembly elections. An election result is weighted equally to a hypothetical poll of sample size 50,000, 5000, and 500, for Assembly, local, and general elections, respectively. UK general election results are biased against the smaller parties, so are allowed to have only a weak impact on the moving averages.</p>
                  <p class='small'>With these caveats, the moving averages can be taken as a best, purely data-driven, estimate of the Assembly election results that would be expected if an election were held at that point in time (a 'nowcast'). For 2016 and 2017, this model has a root-mean-square error of about <b>1.5%</b>. This reflects the inaccuracy of polling just before the elections; for examples, see UUP in 2016 or Sinn Fein in 2017: these results could not have been anticipated, based solely on prior election and polling data. In future years, using the information gathered on this site, I hope to explore whether news or social media data could prove to be predictive, in addition to polls.</p>
                </div>
              </aside>

              <div class="col-md-7">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4>All poll data</h4>
                    <table id="poll_results" class="table table-striped table-bordered" style="width:100%">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Organisation</th>
                          <th>Sample</th>
                          <th>Party</th>
                          <th>Vote share</th>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>  

        </div>

    </div>

  <!--</div>-->

{% endblock %}

{% block addtl_footer %}
    <p>Artwork by <a class='use-underline' href="http://ellistration.co.uk/">Ellistration</a></p> 
{% endblock %}

{% block other_js %}

    <script type="text/javascript">

        var dataSet = {{poll_results_list | tojson }};

        $(document).ready(function() {
          let selectedTab = window.location.hash;
          console.log(selectedTab);
          if (selectedTab == '') {
            selectedTab = '#tracker'
          }
          $('.nav-link[data-bs-target="' + selectedTab + '"]' ).trigger('click');
        });
        
        let initialisedDTs_1 = false;
        let initialisedDTs_2 = false;

        $('.nav-link[data-bs-target="#tracker"]').on('click', function() {
          setTimeout(function() {

            if (!initialisedDTs_1) {

              $('#poll_results').DataTable( {
                  pagingType: "simple",
                  responsive: true,
                  data: dataSet,
                  columns: [
                      { title: "Date", responsivePriority: 3,
                        render: function(data, type, row) {
                          if (data.split('|')[1]=='nan') {
                            return data.split('|')[0]
                          } else {
                            return '<a href="' + data.split('|')[1] + '" target="_blank">' + data.split('|')[0] + '</a>';
                          }
                        } 
                      },
                      { title: "Organisation" },
                      { title: "Sample" },
                      { title: "Party", responsivePriority: 1},
                      { title: "Vote share", responsivePriority: 2,
                        render: $.fn.dataTable.render.number( ',', '.', 1, '', '%' ) }
                  ],
                  order: [[0, 'desc'], [4, 'desc']]
              } );

              initialisedDTs_1 = true;
            };

            if (screen.width >= 500) {
                parse('/data/polls_plot_web', 'poll-tracker-vis');
            } else {
                parse('/data/polls_plot_mobile', 'poll-tracker-vis');
            }

          }, 200);
        } );

    </script>

{% endblock %}