<nav id="sidebar" class="hiddenondesktop">
        
    <!-- <div class="sidebar-header mt-4">
        <img src="{{ url_for('static', filename='ni_poligraph_logo_mountains_grey.png') }}" style='width: 100%'>
    </div> -->

    <ul id='sidebar-list' class="list-unstyled components">
        <li>
            <div class="dismiss">
                <i class="fas fa-arrow-left fa-lg"></i>
            </div>
        </li>
        <li class='blue-link'>
            <a href="{{ url_for('twitter') }}">What They <b>Say</b></a>
        </li>
        <li class='red-link'>
            <a href="{{ url_for('news') }}">What We <b>Report</b></a>
        </li>
        <li class='green-link'>
            <a href="{{ url_for('assembly') }}">What They <b>Do</b></a>
        </li>
        <li class='yellow-link'>
            <a href="{{ url_for('polls') }}">How We <b>Vote</b></a>
        </li>
        <li>
            <div class="politician-list-search-container" width=50%>
                <form action="{{ url_for('indiv') }}" method="GET" > 
                    <input id='politician-list-search-sidebar' type="text" name="mla_name" placeholder="Find a politician" style='width: 170px; font-size: 0.8em'>
                    <button type="submit" style='padding: 5px 8px; margin: 0;'><i class="fa fa-search"></i></button>
                </form>
            </div>
        </li>
        <li>
            <a href="{{ url_for('about') }}">About</a>
        </li>
    </ul>
</nav>