:root {
  --navbar-colour: lightsteelblue; /*bisque, floralwhite, #df633a;*/  
  --footer-sidebar-colour: #58210e;
  --sidebar-text-colour: floralwhite;
  --main-link-hover-colour: plum;
  --data-panel-a-colour: #f5eff5; /*floralwhite;*/
  --data-panel-b-colour: #edf2f7;  /*#ecdfec; */ /*#e6fee6*/  /*#edf2f7*/
  --data-panel-c-colour: #e6fee6;
}

html, body {
    overflow-x: hidden;
}
html {
    height: 100%;
    width: 100%;   
}
body {
    font-family: 'Molengo', sans-serif;
    background: white;
    font-size: 1.2em;
    padding-top: 90px;  /*to slot in navbar*/
}

p, ul {
    line-height: 1.7em;
}

/* this controls the fa links too, unless overriden later */
a {
    color: royalblue;
}
a:hover, a:focus {
    color: var(--main-link-hover-colour);
    text-decoration: none;
    transition: all 0.3s;
}
/* fancy underline animation from https://codepen.io/brenden/pen/RNZXqx 
Only apply to standard links; not pills, in-page links, table entries */
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
    position:relative;
    transition:0.5s color ease;
    text-decoration:none;
    /*color:#81b3d2;
    font-size:2.5em;*/
}
a.use-underline:after{
  content: "";
  transition:0.3s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  bottom:-0.25em;
  /*height:3px;*/
  height:0.20rem;
  width:0;
  background: var(--main-link-hover-colour);
  left:0;
}
a.use-underline:hover:after{
  width: 100%;
}

.wrapper {
    display: flex;
    align-items: stretch;
    width: 100%;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 120vh;
    transition: all 0.3s;
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    border-right: 3px solid black;
    /*border-top: 3px solid black;
    border-bottom: 3px solid black;*/
}
.navbar {
    height: 90px;
    z-index: 900;
}
.nav-item {
    padding: 5px 20px;
    text-align: right;
}
/* Navbar links - also overwrite the colour of use-underline */
.navbar a {
    color: inherit;
    text-decoration: none;
    font-size: 1.1em;
    /*letter-spacing: .08em;*/
    transition: all 0.3s;
}
.navbar a:hover, .navbar a:focus {
    transition: all .3s;   
}
.nav-green-link a:hover {
    color: #008343;
}
.nav-green-link a:after {
    background: #008343;
}
.nav-red-link a:hover {
    color: #900508;
}
.nav-red-link a:after {
    background: #900508;
}
.nav-blue-link a:hover {
    color: #2C009E;
}
.nav-blue-link a:after {
    background: #2C009E;
}
.nav-yellow-link a:hover {
    color: #FEDD0F;
}
.nav-yellow-link a:after {
    background: #FEDD0F;
}

.navbar {
    background: var(--navbar-colour);
}
footer, #sidebar {
    background: var(--footer-sidebar-colour);
}

/* stuff from startbootstrap to make navbar disappear */
#mainNav{
    position: absolute;
    /*border-bottom:1px solid #e9ecef;
    background-color:#fff;
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif*/
}
@media only screen and (min-width:992px){
    #mainNav{
        transition: background-color .2s;
        transform: translate3d(0,0,0);
        -webkit-backface-visibility:hidden
    }
    #mainNav.is-fixed{
        position: fixed;
        top: -90px;  /* more than height, so that it disappears when is-fixed */
        transition: transform 0.4s;
        border-bottom: 1px solid #fff;
        /*background-color:rgba(255,255,255,.9)*/
    }
    #mainNav.is-visible{
        transform: translate3d(0, 100%, 0);
        transition: transform 0.4s;
    }
}

.show.collapse.navbar-collapse, .collapsing.navbar-collapse {
    background-color: var(--navbar-colour);
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 15px;
}

#sidebar ul, .nav-item, .bar1 {
    color: black;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: var(--sidebar-text-colour);
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px 20px 10px 20px; 
    /*background: #6d7fcc;*/
    background: white;
}
#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}
#sidebar ul p {
    padding: 10px;
}
#sidebar ul li a, #sidebar .politician-list-search-container {
    padding: 10px;
    padding-left: 20px;
    /*margin-left: 10px;*/
    font-size: 1.2em;
    display: block;
}
#sidebar ul li a:hover, #sidebar ul li a:focus {
    /*color: #7386D5;*/
    background: grey;
    color: white;
}
#sidebar .green-link a:hover, #sidebar .green-link a:focus {
    background: #008343;
}
#sidebar .red-link a:hover, #sidebar .red-link a:focus {
    background: #900508;
}
#sidebar .blue-link a:hover, #sidebar .blue-link a:hover {
    background: #2C009E;
}
#sidebar .yellow-link a:hover, #sidebar .yellow-link a:hover {
    background: #FEDD0F;
    color: black;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    /*background: #6d7fcc;*/
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
#sidebar.hiddenondesktop {
    margin-left: -250px;
}
#sidebar .dismiss {
    padding: 15px 25px;
}
#sidebar .dismiss .fas {
    color: var(--sidebar-text-colour);
    cursor: pointer;
}

.form-control {
    background-color: floralwhite;
}
.politician-list-search-container input[type=text] {
  padding: 6px;
  /*margin-top: 8px;*/
  font-size: 0.9em;
  /*border: none;*/
  /*float: left;*/
}
.politician-list-search-container button {
  float: right;
  padding: 5.5px 10px;
  /*margin-top: 8px;*/
  /*margin-right: 16px;*/
  background: #ddd;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.politician-list-search-container button:hover {
  background: #ccc;
}

.bar1 {
    width: 35px;
    height: 4px;
    background-color: black; /*var(--navbar-colour);*/
    margin: 7px 0;
}

footer {
    width: 100%;
    font-size: 1.0em;
    padding: 8px 20px;
}
footer p {
    /*padding: 1px;*/
    margin: 5px;
    color: var(--navbar-colour);
}
footer a {
    color: white;
}
footer a .fa-circle {
    color: mediumblue;
    transition: all 0.4s;
}
footer a:hover .fa-circle, footer a:focus .fa-circle {
    color: var(--main-link-hover-colour);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    transition: all 0.4s;
}

/* was using this to darken main screen when sidebar opened */
/* now kept without darken effect, just to allow click screen to close sidebar */
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    /*background: rgba(51, 51, 51, 0.7);*/
    z-index: 998;
    opacity: 0;
    transition: all .5s ease-in-out;
}
 
.overlay.active {
    display: block;
    opacity: 1;
}

.jumbotron {
    height: 550px; 
    background-color: white;
    border-radius: 0;
}

.responsive {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 0.9em;
    }
}

/* Use a scrollbar for polls vis only on mobile */
@media screen and (max-width: 600px) {
    #poll-tracker-vis {
        overflow-x: scroll; 
        overflow-y: hidden; 
    }
}
/* Hide scrollbar for Chrome, Safari and Opera */
#poll-tracker-vis::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#poll-tracker-vis {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  padding-top: 35px; 
  padding-bottom: 20px;
} 

.carousel-caption {
    background: rgb(0, 0, 0); 
    border: 3px solid rosybrown; 
    background: rgba(0, 0, 0, 0.7); 
    border: 3px solid rgba(188, 143, 143, 0.5); 
    color: white;
}
@media screen and (max-device-width: 632px){
  .carousel-caption h4 {
    font-size: 0.9em;
  }
}
.image-link a, .image-link-zoom img {
    transition: all 0.3s;
}
.image-link a:hover, .image-link a:focus {
    opacity: 0.7;
}
.image-link-zoom {
    overflow: hidden;
    padding: 0;
}
.image-link-zoom img:hover, .image-link-zoom img:focus {
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
}

.data-panel-a {
    background-color: var(--data-panel-a-colour);
}
.data-panel-b {
    background-color: var(--data-panel-b-colour);
}
.data-panel-c {
    background-color: var(--data-panel-c-colour);
}
.data-panel-card-border {
    border-top: 2px solid black; 
    /*border-bottom: 2px solid black;*/
}

#Technical-stuff .tab-headings {
    font-size: 0.9em;
    margin-bottom: 15px;
}

/* blog articles */
.post-heading h1 {
    font-weight: 900;
    font-size: 3.0em;
}
.post-heading {
    padding: 70px 0 50px 0;
}
/*@media only screen and (min-width:768px){
    .post-heading, .site-heading {
        padding: 100px 0;
    }
}*/
.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 40px
}
/* from https://demo.codevibrant.com/html/kavya/index3.html */
.card-img,
.card-img-top {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 100%;
  object-fit: cover;
}
.card-img:hover,
.card-img-top:hover {
  opacity: 0.9;
}
.card.simple-overlay-card .card-img-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  top: auto;
  padding: 40px 30px 10px 30px;
}
.more-content-grid .card-img {
  height: 200px;
  object-fit: cover;
}
/*.more-content-grid .card .card-img-overlay {
  padding-bottom: 20px;
}*/
.more-content-grid .title-font {
  margin-bottom: 0;
}
.more-content-grid .card-img-overlay .title-font a {
  color: var(--sidebar-text-colour);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.more-content-grid .card-img-overlay .title-font a:hover {
  color: var(--main-link-hover-colour);
}
.more-content-grid .card-img-overlay p {
  color: var(--sidebar-text-colour);
  margin-bottom: 0;
}
.blog-plot {
    width: 100%;
    margin: 20px 0px;
}
figcaption {
    text-align: center; 
    margin-top: 10px;
    font-size: 0.7em;
    text-decoration-style: italic;
}

/* explainer tooltips */
span[data-toggle="tooltip"] { 
    text-decoration: underline var(--main-link-hover-colour) dashed;
}
.tooltip > .tooltip-inner {
    background-color: var(--navbar-colour);
    color: black; 
    border: 1px solid black; 
    font-size: 1.1em;
}
.fa-question-circle {
    color: var(--navbar-colour);
}

/* link icons */
a[href*='altair-viz'] {
    background: transparent url('/static/icon_altair.png') center left no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
    /*color: inherit;*/
}
a[href*='numpy'] {
    background: transparent url('/static/icon_numpy.png') center left no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
}
a[href*='/vega-lite'] {
    background: transparent url('/static/icon64x48_vegalite.png') center left no-repeat;
    background-size: 20px 15px;
    padding-left: 20px;
}
a[href*='pandas'] {
    background: transparent url('/static/icon_pandas.svg') center left no-repeat;
    background-size: 15px 20px;
    padding-left: 20px;
}
a[href*='/rtweet'] {
    background: transparent url('/static/icon_rtweet.png') center left no-repeat;
    background-size: 20px 20px;
    padding-left: 22px;
}
a[href*='r-project'] {
    background: transparent url('/static/icon_R.svg') center left no-repeat;
    background-size: 20px 20px;
    padding-left: 20px;
}
a[href*='scikit'] {
    background: transparent url('/static/icon32x32_scikitlearn.ico') center left no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
}
a[href*='pythonanywhere'] {
    background: transparent url('/static/icon_pythonanywhere.png') center left no-repeat;
    padding-left: 200px;
}
a[href*='palletsprojects'] {
    background: transparent url('/static/icon_flask.png') center left no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
}
a[href*='progresspie'] {
    background: transparent url('/static/icon_progresspie.svg') center left no-repeat;
    background-size: 16px 16px;
    padding-left: 20px;
}